td {
    height: 50px;
    width: 50px;
}

td div {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
}
