header {
    clear: both;
    margin: auto;
    width: 1150px;
}

main {
    float: right;
    width: calc(100% - 301px);
}

td {
    height: 50px;
    width: 50px;
    border: 1px dashed black;
}

.actions {
    float: right;
}

.events {
    border: 1px solid black;
    height: 260px;
    width: 293px;
}


.info {
    float: left;
    width: 300px;
}

.map {
    border-collapse: collapse;
}

.map td {
    padding: 0;
}

.messages {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    height: 250px;
    width: 293px;
}

.message-input {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 293px;
}

.middle {
    clear: both;
    margin: auto;
    width: 1150px;
}

.middle-left {
    float: left;
    width: calc(100% - 283px);
}

.middle-right {
    float: right;
    width: 282px;
}

.stats {
    float: left;
}

.stats-bar {
    float: right;
    width: 300px;
}

.stats-label {
    float: left;
    width: 20px;
}

.stats td {
    width: 325px;
}
